{% extends "base.html" %}

{% block content %}
    {{super()}}
    <!doctype html>
    <title>Job</title>
    <h1>Syslog Collector Settings</h1>
    <form action="{{ url_for('syslog') }}" method=post novalidate>
        {{ syslog_form.hidden_tag() }}
        <p>
            {{ syslog_form.syslogCollector }} 
        </p>
        <p>
           {{ syslog_form.syslogLogFileName }} 
        </p>

        <p>{{ syslog_form.submit() }}</p>
    </form>

    <h1>API Settings</h1>
    <form action="{{ url_for('api') }}" method=post novalidate>
        {{ api_form.hidden_tag() }}
        <p>
            {{ api_form.apiWorkspace }} 
        </p>
        <p>
            {{ api_form.tableName.label }}<br>
            {{ api_form.tableName(size=64) }}
            {% for error in api_form.tableName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ api_form.apiLogFileName }} 
         </p>
        <p>{{ api_form.submit() }}</p>
    </form>
    
{% endblock %}