{% extends "base.html" %}

{% block content %}
    <!doctype html>
    <title>Job</title>
    <h1>Syslog Collector Settings</h1>
    <form action="{{ url_for('syslog') }}" method=post novalidate>
        {{ syslog_form.hidden_tag() }}
        <p>
            {{ syslog_form.serverIP.label }}<br>
            {{ syslog_form.serverIP(size=64) }}
            {% for error in syslog_form.serverIP.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
           {{ syslog_form.syslogLogFileName }} 
           {% for error in syslog_form.syslogLogFileName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ syslog_form.submit() }}</p>
    </form>

    <h1>API Settings</h1>
    <form action="{{ url_for('api') }}" method=post novalidate>
        {{ api_form.hidden_tag() }}
        <p>
            {{ api_form.workspaceId.label }}<br>
            {{ api_form.workspaceId(size=64) }}
            {% for error in api_form.workspaceId.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ api_form.workspaceKey.label }}<br>
            {{ api_form.workspaceKey(size=128) }}
            {% for error in api_form.workspaceKey.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ api_form.tableName.label }}<br>
            {{ api_form.tableName(size=64) }}
            {% for error in api_form.tableName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ api_form.apiLogFileName }} 
            {% for error in api_form.apiLogFileName.errors %}
             <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>
        <p>{{ api_form.submit() }}</p>
    </form>
    
{% endblock %}